:root{
    --ata-blue-color: #0272bb;
    --ata-gray-color: #86878b;
    --ata-blue-color-dark: #003f68;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.lang-img{
    width: 40px;
}

.card-header{
    background-color: var(--ata-blue-color-dark);
}

.navbar{
    background-color: var(--ata-blue-color);
}

.nav-dropdown{
    background-color: var(--ata-blue-color-dark);
}