<br>
<br>
<footer class="text-center mt-auto text-bg-dark" data-bs-theme="dark">
    <div class="container pt-4 pb-3">
        <section class="d-flex align-items-center justify-content-center gap-5">
            <a target="_blank" href="https://www.linkedin.com/company/action-to-action-robotics/" class="footer-icon">
                <i class="bi bi-linkedin text-light"></i>
            </a>
            <a target="_blank" href="https://www.youtube.com/@Actiontoactionrobotics" class="footer-icon">
                <i class="bi bi-youtube text-light"></i>
            </a>
            <a target="_blank" href="https://actiontoaction.ai/" class="footer-icon">
                <i class="bi bi-globe text-light"></i>
            </a>
        </section>
    </div>
    <div class="text-center footer-bottom p-3">
        <div class="row row-cols-1 row-cols-md-3 col-md-10 offset-md-1 g-3 mb-3">
            <div class="col">
                <i class="bi bi-geo-alt-fill"> Dubai, Business Bay, Ontario Tower, Office 2201</i>
            </div>
            <div class="col">
                <i class="bi bi-telephone-fill"> +971 4 58 76 919</i>
            </div>
            <div class="col">
                <i class="bi bi-envelope-at-fill"> Info@actiontoaction.ai</i>
            </div>
        </div>
        <span class="fw-bold">
            Action To Action Robotics & AI © 2024
        </span>
    </div>
</footer>
